@charset "UTF-8";
@import url(reset.css); 

/* ================================
   COMMON 共通設定
================================ */
* {
    box-sizing: border-box;
}

body {
    line-height: 1.8;
    font-family: "Noto Serif SC", serif;
    font-size: 16px;
    letter-spacing: .2em;
    background: #b6cae5;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* ================================
   #main-visual
================================ */
#main-visual {
    width: 100%;
    height: 100vh;
    background: url(../images/01.png) center/cover no-repeat;
}

#main-visual .inner {
    margin-top: auto;
    margin-bottom: 0;
    color: #fff;
}


#main-visual>section {
    margin: 0;
    /* 余白なし */
}

#main-visual+section .inner {
    margin-top: 0;
}


/* ================================
   section
================================ */

section+section {
    margin-top: 160px;
}

.bg {
    display: flex;
    flex-wrap: wrap;
}

.bg img {
    width: calc((750px + (100% - 750px) / 2));
    margin-bottom: 80px;
}

.bg.right img {
    margin-left: auto;
}

.bg.left img {
    margin-right: auto;
}

.inner {
    width: 750px;
    margin: auto;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

h2 span {
    display: block;
    color: #546e7a;
    font-family: 'Tangerine', cursive;
    font-weight: normal;
    margin-top: 2px;
}

.author {
    font-size: 15px;
}

.profile {
    margin: 0 0 12px;
}

p {
    color:#fff
    line-height: 2.0;
}

p+p {
    margin-top: 15px;
}

/* ================================
   .slide-in
================================ */

.slide-in {
    width: 100%;
    height: 400px;
    margin-top: 100px;
    background: linear-gradient(90deg, black 50%, white 100%);
    color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 40px;
    padding-left: 80px;
    transition: all .6s;
}

.slide-in .more {
    position: absolute;
    bottom: 50px;
    left: 80px;
    padding: 10px;
    border: 2px solid #fff;
    font-size: 14px;
    transition: all .6s;
}

.slide-in img {
    position: absolute;
    right: 0;
    margin: auto;
    width: auto;
    height: 400px;
    mix-blend-mode: darken;
}

.slide-in.show {
    transform: translateX(0);
    opacity: 1;
}

.slide-in.show:hover {
    opacity: .8;
}

.slide-in.show:hover .more {
    background: #fff;
    color: #231815;
}

/* ================================
   footer
================================ */
footer {
    width: 100%;
    background: #fcc8c5;
    text-align: center;
    padding: 10px 0;
}

footer small {
    display: block;
    padding: 10px 0;
}